{% load static from staticfiles %}
{% load header_tags %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta name="author" content="Kamleshyadav"/>
  <meta name="MobileOptimized" content="320">
  {% block head %}
    <title>Главная | фирменные кросовки по стоковым ценам</title>
    <meta name="description" content="Магазин кросовок likethis.ru."/>
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static "dist/bundle.css" %}">
  <!-- <link rel="stylesheet" type="text/css" href="http://localhost:8080/dist/bundle.css" > -->
  <link rel="stylesheet" href="{% static "src/libs/ionicons/css/ionicons.min.css" %}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{% static 'src/libs/lightbox/dist/css/lightbox.min.css' %}" rel="stylesheet">
  <script src="https://use.fontawesome.com/029364637b.js"></script>
</head>
<body class="relative">
  <div id="react-loader" class=""></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% header request %}
      </div>
    </div>
  </div>

  {% block slider %}
  {% endblock %}

  {% top_menu request %}

  <div class="container">
    <div class="row">

      {% block header %}
      {% endblock %}

    </div>
  </div>

  <div class="container">
    <div class="row">
      {% block breadcrumbs %}
        <div class="col-md-12">
          <ol class="breadcrumb">
            {% if request.path_info == "/" %}
              <li class="active pl-0">Главная</li>
            {% else %}
              <li><a href="/">Главная</a></li>
            {% endif %}
            {% for breadcrumb in request.breadcrumbs %}
              {% if not forloop.last %}
                <li>/</li>
                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
              {% else %} <li>/</li><li class="active">{{ breadcrumb.name }}</li> {% endif %}
            {% endfor %}
          </ol>
        </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block sidebar %}
      {% endblock %}

      {% block popular %}
      {% endblock %}

      {% block about %}
      {% endblock %}

      <div class="row">
        <div class="col-md-12">
          <div id="dnd"></div>
        </div>
      </div>

      {% block articles %}
      {% endblock %}

    </div>
  </div>

  {% footer request %}


  <!-- <script src="http://localhost:8080/dist/bundle.js"></script> -->
  <script src="{% static 'src/libs/lightbox/dist/js/lightbox-plus-jquery.min.js' %}"></script>
  <script>
    {% if initial_data %}
      window.initial_data = {{ initial_data }}
      console.log('**** initial_data: ', window.initial_data);
    {% endif %}
  </script>
  <script src="{% static 'dist/bundle.js' %}"></script>
  {% block page_js %}
  {% endblock %}
</body>
</html>
