{% extends "base.html" %}


{% block breadcrumbs %}
	<!--  :::  BREADCRUMBS ::: -->
	<section class="breadcrumbs breadcrumbs2 servicesBG wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
		<div class="boxedeb">
			<div class="container page-block-small">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2>Результат отправки письма</h2>
					<span class="line"></span>
					<div class="rightText">
						<a href="index.html" title="Home">Home</a> / <a href="services.html" title="Services">Services</a> / Commercial Interior Design
					</div>
				</div>
			</div><!--end-container-->
		</div>
	</section>
	<!-- ::: END ::: -->
{% endblock breadcrumbs %}


{% block content %}
<div class="flatblock-edit">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Спасибо большое , мы свяжемся с Вами в ближайшее время</h3>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
