{% load static from staticfiles %}
{% load sitetree %}

<div class="bg-black mt-33px c-white pa-33px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-6 col-md-6 br b--white c-mild-gray">
                <p class="f5 c-white">
                  Бесплатные консультации, заказ товара, тел:
                </p>
                {% for phone in config.get_all_phones %}
                  <p class="mb-0 c-mild-gray">{{ phone }}</p>
                {% endfor %}
                <p class="mb-0">e-mail:</p>
                <p>{{ config.site_email }}</p>
              </div>
              <div class="col-xs-6 col-md-6 br b--white">
                <p class="f5">Разделы сайта:</p>
                {% sitetree_menu from "base" include 'trunk' template "sitetree/flat_menu.html" %}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 ">
            <i class="fa fa-cc-visa" style="font-size: 30px" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard" style="font-size: 30px" aria-hidden="true"></i>
            <i class="fa fa-cc-paypal" style="font-size: 30px" aria-hidden="true"></i>

            <div class="c-mild-gray">
              <p class="fs-75r bb b--white pv3">{{ config.site_description }}</p>
              <p class="f6 mb0">© «{{ config.site_name }}», 2009-2017.</p>
              <p class="fs-75r">При использовании текстовой информации, фото и видео материалов, ссылка на сайт обязательна.</p>
              <p class="f5">{{ config.site }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
