<header class="header mt2">
  <div class="row">
    <div class="col-md-4" >
      <a href="#" class="logo">
        <img class="logo" src="http://gammarus.ru/bitrix/templates/liaton_main/images/logo.gif" alt="logo">
      </a>
      <p>ПРИРОДНЫЕ РЕСУРСЫ АЛТАЯ</p>
    </div>
    <div class="col-md-3 flex items-center justify-end">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск по сайту">
        <span class="input-group-btn">
          <button class="btn btn-secondary bg-mild-gray" type="button">
            <i class="ion-ios-search-strong"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-2 flex-column items-end justify-center flex">
      <p class="f4 mb1 tr">+7 902 998 58 23</p>
      <p class="f4 mb1 tr">+7 385 324 68 64</p>
    </div>
    <div class="col-md-3 flex items-center justify-end">
      <form class="">
        <button class="button-red bw0 flex justify-center items-center" type="submit">
          <span class="mr2 ttu">Заказать звонок</span>
          <i class="ion-iphone f3"></i></button>
      </form>
    </div>
  </div>
</header>
