<header class="header mt2">
  <div class="row">
    <div class="col-md-4" >
      <a href="/" class="logo">
        <img class="logo" src="http://likethis.ru/bitrix/templates/liaton_main/images/logo.gif" alt="logo">
      </a>
      <p>БРЕНДОВЫЕ КРОСОВКИ ПО НИЗКИМ ЦЕНАМ</p>
    </div>
    <div class="col-md-3 flex items-center justify-end">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск по сайту" />
        <span class="input-group-btn">
          <button class="btn bg-mild-gray" type="button">
            <i class="ion-ios-search-strong"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-2 flex-column items-end justify-center flex">
      <p class="f4 mb1 tr">+7 902 998 58 23</p>
      <p class="f4 mb1 tr">+7 385 324 68 64</p>
    </div>
    <div class="col-xs-6 col-md-3 flex items-center justify-end">
      <button class="button-red bw0 flex justify-center items-center" data-toggle="modal" data-target="#myModal">
        <span class="mr2 ttu">Заказать звонок</span>
        <i class="ion-iphone f3"></i>
      </button>
    </div>
  </div>
</header>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Заказть обратный звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/contact-form/">{% csrf_token %}
        <div class="modal-body">
          <input type="number" name="phone" placeholder="Ваш телефон" value="test"/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn bg-green white bw0 flex justify-center items-center">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

