{% extends "base.html" %}
{% load static from staticfiles %}
{% load header_tags %}

{% block content %}
  <div class="col-xs-9 col-md-9 push-md-3 mt-15px" id="react-product-list">
    <div class="row">
      {% for product in products %}
        <div class="col-xs-6 col-md-3">
          <div class="product-container">
            <div class="ba bd-mild-gray2 pa-10px tc br2 br--top">
              <img src={{ product.get_image.get_url }} alt="" class="max-h-150px"/>
              <p class="fs-190r mb-0px">{{ product.price }}р.</p>
              <a href="{{ product.get_absolute_url }}" class="product-name c-brown">{{ product.name }}</a>
              {% if product.get_properties %}
                <div class="pb-24px pt-19px">
                  <div class="flex justify-center flex-wrap">
                    {% for property in product.get_properties %}
                      <button class="property btn btn-small btn-white rounded {% if forloop.counter == 1 %}active{% endif %} mr-7px mt-5px">{{ property.value }} {{ property.type.unit }}</button>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="bg-green c-white pa-8px tc br2 br--bottom">
              <span class="ion-bag fs-120r mr-10px"></span>
              <span>Добавить в корзину</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="col-xs-3 col-md-3 pull-md-9 border-right">
    <div class="catalog sidebar">
      <h4>Каталог</h4>
      <ul class="catalog-list">
        {% category request %}
      </ul>
    </div>
    <div class="row filter-price">
      <div class="col-md-12">
        <div class="sidebar">
          <h4>Фильтр по цене</h4>
          <div id="react-price-slider"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
