{% extends "base.html" %}
{% load static from staticfiles %}
{% load header_tags %}

{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>
{% endblock %}

{% block slider %}
  {% if request.path == '/' %}
    <div class="hidden-sm-down" style="margin-bottom: -1px;">
      <!-- Slider main container -->
      <div class="swiper-container swiper2 overflow-hidden w-100 relative" id="front-slider" style="height: 470px">
        <div class="swiper-wrapper">
          {% for news_slide in slides %}
          <div class="swiper-slide">
            <img src="{{ news_slide.get_image_url }}">
          </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-9 push-md-3">
  <div class="row">

    <div class="col-md-12" id="react-product-list">
      <div class="row">
        {% for product in products %}
        <div class="col-xs-6 col-md-4">
          <div class="product-container">
            <div class="ba bg-warm-grey-5 bd-mild-gray2 pa-0px tc br2 br--top">
              <img src={{ product.get_image.get_relevant_url }} alt="" class="w-100"/>
              <p class="fs-190r mb-0px">{{ product.price }}р.</p>
              <a href="{{ product.get_absolute_url }}" class="product-name c-brown">{{ product.name }}</a>
              {% with properties=product.get_properties %}
              {% if properties %}
              <div class="pb-24px pt-19px">
                <div class="flex justify-center flex-wrap">
                  {% for property in properties %}
                  <button class="property btn btn-small btn-white rounded {% if forloop.counter == 1 %}active{% endif %} mr-7px mt-5px">{{ property.value }} {{ property.type.unit }}</button>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% endwith %}
            </div>
            <div class="bg-mild-gray2 brown c-white pa-8px tc br2 br--bottom pointer min-h-50px flex justify-center items-center">
              <span class="b c-brown ion-bag fs-120r mr-10px"></span>
              <span class="b ff-b c-brown ttu">Добавить в корзину</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="hidden-sm-down col-xs-3 col-md-3 pull-md-9 border-right">
  <div class="catalog sidebar">
    <h4>Каталог</h4>
    <ul class="catalog-list">
      {% category request %}
    </ul>
  </div>
  <div class="row filter-price">
    <div class="col-md-12">
      <div class="sidebar">
        <h4>Фильтр по цене</h4>
        <div id="react-price-slider"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block popular %}
  {% if request.path == '/' %}
    <div class="col-md-12">
      <div class="hidden-sm-down" style="margin-bottom: -1px;">
        <!-- Slider main container -->
        <div class="swiper-container swiper3 overflow-hidden w-100 relative" id="hot-slider" style="height: 470px">
          <div class="swiper-wrapper">
            {% for product in hot_products %}
            <div class="swiper-slide">
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.get_hot_image_url }}">
              </a>
            </div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="hidden-sm-down col-md-12">
      <p class="tc fs-150r">Самые продаваемые товары</p>
      <!-- Slider main container -->
      <div class="swiper-container swiper1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for product in popularProducts %}
          <div class="swiper-slide">
            <div class="pa-10px">
              <div class="product-container">
                <div class="ba bd-mild-gray2 pa-10px tc br2 br--top">
                  <img src={{ product.get_image.croppedImage }} alt="" class="max-h-150px" />
                  <p class="fs-190r mb-0px">{{ product.price }}р.</p>
                  <a href="{{ product.get_absolute_url }}" class="product-name c-brown">
                    {{ product.name }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev btn btn-small btn-white rounded w-30px h-30px pa-0px bra-30px justify-center fs-120r">
        <i class="ion-ios-arrow-left"></i>
      </div>
      <div class="swiper-button-next btn btn-small btn-white rounded w-30px h-30px pa-0px bra-30px justify-center fs-120r">
        <i class="ion-ios-arrow-right"></i>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block about %}
  {% if request.path == '/' %}
    <div class="col-md-12 mt4 mb4 pt4 pb4 bg-light-gray">
      <div class="row">
        <div class="col-md-3">
          <h3>
            {{ about.name }}
          </h3>
          <img src="{{ about.get_image_url }}" />
        </div>
        <div class="col-md-9">
          {{ about.description|safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block articles %}
  {% if request.path == '/' %}
    <div class="col-xs-12 col-md-6 mt4">
      <div class="ba br100 bd-mild-gray pa3 relative">
        <h3 class=" flex justify-center">
          Полезная информация
        </h3>
        <a href="/articles/" class="mb3 flex justify-center mt2 mr2 pa2 green fs-75r">
          <i class="ion-ios-list-outline fs-100r mr2"></i>
          все статьи
        </a>
        {% for article in articles %}
        <div>
          <a class="fs-75r green" href="{{ article.get_absolute_url }}">
            {{ article.name }}
          </a>
          {{ article.description|safe|truncatewords:15 }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-12 col-md-6 mt4">
      <div class="ba br100 bd-mild-gray pa3 relative">
        <h3 class="flex justify-center">Новости компании</h3>
        <a href="/news/" class="mb3 flex justify-center mt2 mr2 pa2 green fs-75r">
          <i class="ion-ios-list-outline fs-100r mr2"></i>
          все новости
        </a>
        {% for news_item in news %}
        <div>
          <div class="fs-65r">
            {{ news_item.date|date:"d M Y" }}
          </div>
          <a class="fs-75r green" href="{{ news_item.get_absolute_url }}">
            {{ news_item.name }}
          </a>
          {{ news_item.description|safe|truncatewords:15 }}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}

