{% load sitetree %}
<!--<div class="header-main header-default header-no-border">
	<div class="container">
		<div class="header-main-wrapper">
			<div class="navbar-header">
				<a href="/"><img class="logo" src="/media/{{ config.site_logo }}" alt=""/></a>
				<button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			</div>
			{% sitetree_menu from "base" include 'trunk' template "sitetree/menu.html" %}
		</div>
	</div>
</div>-->


<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="menu">
  
    <!-- ::: Main Nav ::: -->
    {% sitetree_menu from "base" include 'trunk' template "sitetree/menu.html" %}
    <!-- ::: Main Nav ::: -->
      
  </div><!-- /.navbar-collapse -->
</nav>