<div class="header_zakaz">
	<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Заказать замер<i class="fa fa-chevron-circle-right"></i></button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Заказать замер</h3>
			</div>
			<form method="post" action="/contact-form/">{% csrf_token %}
				<div class="modal-body">
					{{ form }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</div>
